{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "hero.html" .}}

<div>
  <div>
    <div>
      <a href="/new">New Post</a>
      {{range .posts}}

        {{ with . }}
          <div>
            <div>
              Title: <a href="/{{.Slug}}">{{.Title}}</a>
            </div>
            <div>{{.CreatedAt}}</div>
            <div>Body: {{raw .Body}}</div>
            <a href="/destroy/{{.Id}}">Delete Post</a>
          </div>
        {{end}}

      {{end}}
    </div>

  </div>
</div>

{{template "footer.html" .}}
