{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "hero.html" .}}

<div>
  <div>

    <div>
      <form method="POST" action="{{url "App.Create" }}">

        {{with $field := field "post.Title" .}}
        <p class="{{$field.ErrorClass}}">
        <strong>Title:</strong>
        <input type="text" size="10" name="{{$field.Name}}" value="{{$field.Flash}}">
        * <span>{{$field.Error}}</span>
        </p>
        {{end}}

        {{with $field := field "post.Body" .}}
        <p class="{{$field.ErrorClass}}">
        <strong>Body:</strong>
        <textarea type="text" rows="20" cols="60" name="{{$field.Name}}"></textarea>
        * <span>{{$field.Error}}</span>
        </p>
        {{end}}

        <input type="submit" value="Post">
      </form>
      <a href="/">Cancel</a>
    </div>

    <div class="post"></div>

  </div>
</div>

{{template "footer.html" .}}
<script src="public/js/script.js"></script>
